*{
    margin: 0;
    padding: 0;
}

.main-section{
    background-color: aqua;
    display: flex;
    height: 100vh;
    gap: 15px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.colomns{
    background-color: greenyellow;
    height: 600px;
    width: 350px;
    overflow-y: scroll;
}

.backlog-header-btn{
    background-color: red;
    display: flex;
    justify-content: space-between;
    padding: 5px 13px;
}

#backlog-add{
    height: 580px;
}

#backlog-add div{
    background-color: tomato;
    margin: 15px;


}

#form-form{
    margin-bottom: 150px;
    border: 1px solid black;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#form-form input{
    width: 75%;
}

#form{
    border: 1px solid red;
    display: flex;
    justify-content: center;
    display: none;
}