*{
    margin: 0;
    padding: 0;
}

.main-section{
    background-color: aqua;
    height: 700px;
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.colomns{
    background-color: greenyellow;
    height: 600px;
    width: 350px;
}

.backlog-header-btn{
    background-color: red;
    display: flex;
    justify-content: space-between;
}

.backlog-add{
    
}